{% comment %} Loyalty Widget Snippet {% endcomment %}

{% liquid
  assign styles = shop.metafields.app.nbl_config_v1.value.styles
  assign header_style = styles.header
  assign header_nav_style = styles.header.Navigation
  assign header_points_style = styles.header.Points
  assign header_heading_style = styles.header.Heading
  assign tab_home_style = styles.tabHome
  assign tab_home_nav_style = styles.tabHome.navigation
  assign tab_home_active_rewards_style = styles.tabHome.activeRewards
  assign tab_home_account_activity_style = styles.tabHome.accountActivity
  assign tab_rewards_style = styles.tabRewards
  assign tab_activity_style = styles.tabActivity
  assign tab_profile_style = styles.tabProfile
  assign tab_referral_style = styles.tabReferral
  assign tab_earn_points_style = styles.tabEarnPoints
%}

<div class="nbl-widget-container-v1">
  <div class="nbl-widget-wrapper-v1">
    <div class="nbl-widget-header-v1">
      <button class="nbl-widget-close-button-v1">
        <svg viewBox="0 0 24 24">
          <polygon points="11.5 10.124 17.624 4 19 5.376 12.876 11.5 19 17.624 17.624 19 11.5 12.876 5.376 19 4 17.624 10.124 11.5 4 5.376 5.376 4"></polygon>
        </svg>
      </button>
      <div class="nbl-widget-header-wrapper-v1">
        <div class="nbl-widget-header-top-v1">
          {% if customer %}
            <h3 class="nbl-wh-title-v1">
              {{ header_heading_style.Label | default: 'Welcome, [name]' | replace: '[name]', customer.name }}
            </h3>

            {% comment %}
              <h4 class="nbl-wh-points-v1">
                <span class="nbl-customer-points-v1">1,000</span>
                <span> points</span>
              </h4>
            {% endcomment %}

            <h4 class="nbl-wh-points-v1">
              {{
                header_points_style.Label
                | default: '[points] <span> points</span>'
                | replace: '[points]', '<span class="nbl-customer-points-v1">1,000</span>'
              }}
            </h4>

          {% else %}
            <h3 class="nbl-widget-title-v1">NBL Loyalty Program</h3>
          {% endif %}
        </div>
        {% if customer %}
          <div class="nbl-wh-nav-wrapper-v1 nav-3-grid">
            <button class="nbl-nav-item-v1 active" data-nav="home" role="tab">Home</button>
            <button class="nbl-nav-item-v1" data-nav="points" role="tab">Earn Points</button>
            <button class="nbl-nav-item-v1" data-nav="rewards" role="tab">Rewards</button>
            {% comment %} <button class="nbl-nav-item-v1" data-nav="referral" role="tab">Referral</button> {% endcomment %}
            {% comment %} <button class="nbl-nav-item-v1" data-nav="referral" role="faq">FAQ</button> {% endcomment %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="nbl-widget-body-v1">
      <div class="nbl-widget-main-content-v1">
        {% if customer %}
          <div class="nbl-wc-tab-wrapper-v1">
            {% comment %} // home tab {% endcomment %}
            <div class="nbl-tab-item-v1 active" data-tab="home">
              {% render 'tab-home' %}
            </div>

            {% comment %} // Points tab {% endcomment %}
            <div class="nbl-tab-item-v1" data-tab="points">
              {% render 'tab-points' %}
            </div>

            {% comment %} // Rewards tab {% endcomment %}
            <div class="nbl-tab-item-v1" data-tab="rewards">
              {% render 'tab-rewards' %}
            </div>

            {% comment %} // Referral tab {% endcomment %}
            <div class="nbl-tab-item-v1" data-tab="referral">
              {% render 'tab-referral' %}
            </div>

            {% comment %} // FAQ tab {% endcomment %}
            <div class="nbl-tab-item-v1" data-tab="faq">
              {% render 'tab-faq' %}
            </div>
          </div>
        {% else %}
          <div>
            <p>
              Earn points for every purchase and redeem them for exciting rewards! Join NB Loyalty today and start
              enjoying exclusive benefits.
            </p>
            <ul>
              <li>Earn 1 point for every $1 spent</li>
              <li>Redeem points for discounts, free products, and more</li>
              <li>Exclusive offers and early access to sales</li>
            </ul>
            <a class="nbl-widget-cta-v1" href="{{ routes.account_url }}">Join Now</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="nbl-notification-wrapper-v1">
      {% render 'loyalty-notification' %}
    </div>
  </div>
</div>
